.about-me {
  & > .info {
    .text-container {
      dd,
      dt {
        @include user-select(none);
        display: inline;
      }

      dd {
        &:after {
          @include user-select(none);
          content: '\A';
          white-space: pre;
        }
      }

      @include box-shadow($shadow);
      background-color: rgba($bright-red, .8);
      margin: 10px 0;
      padding: 30px;
      padding-left: 300px;
    }

    @include font-size(20px);
  }

  & > .profile-picture-container {
    left: 50px;
    position: absolute;
    top: 5%;
    z-index: 5;
  }

  @include display-flex;
  @include flex(1);
  @include flex-direction(column);
  position: relative;
}
