.background {
  @extend .flex-center;
  @extend .flex-display;

  border-top: 2px solid #e8b71a;
  height: auto;
  min-height: 50vh;
  overflow: auto;
  padding: 10px;
  position: relative;

  &-about-me {
    @extend .background;

    background-image: url('imgs/about-me.jpg');
  }

  &-blog {
    @extend .background;

    background-image: url('imgs/blog.jpg');
  }

  &-education {
    @extend .background;

    background-image: url('imgs/education.jpg');
  }

  &-project {
    @extend .background;

    background-image: url('imgs/project.jpg');
  }

  &-skill {
    @extend .background;

    background-image: url('imgs/skills.jpg');
  }

  &-work-experience {
    @extend .background;

    background-image: url('imgs/work.jpg');
  }
}
