/*Buttons*/
.button {
  &:hover {
    color: #25a0da;
  }

  &:active {
    background-color: $strong-yellow;
    color: $black;
  }

  @include transition(.3s);
  background-color: $vivid-yellow;
  border: 1px solid $black;
  color: $black;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 15px auto;
  position: relative;
  width: 250px;
}

.linkedin-button {
  background-image: url('../imgs/linkedin-icon.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 43px 34px;
}

.email-button {
  background-image: url('../imgs/email.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

.btn-close {
  &:hover {
    @include transform(scale(1.1));
  }

  &:active {
    @include transform(scale(.95));
    background-color: $strong-red;
  }

  @include box-shadow($shadow);
  @include transition(.3s);
  @include user-select(none);
  background-color: $bright-red;
  border: 5px solid $white;
  border-radius: 60px;
  color: $white;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  text-align: center;
  text-shadow: 0 0 7px rgba(0, 0, 0, .3);
  top: 20px;
  width: 60px;
}

.btn-transparent {
  background-color: transparent;
}
