/*Mixins*/
@mixin animation($anim) {
  -webkit-animation: $anim;
  -moz-animation: $anim;
  -o-animation: $anim;
  animation: $anim;
}

@mixin appearance($option) {
  -webkit-appearance: $option;
  -moz-appearance: $option;
  appearance: $option;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
  filter: $filter;
}

@mixin flex($flex) {
  -webkit-box-flex: $flex;
  -webkit-flex: $flex;
  -ms-flex: $flex;
  flex: $flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content
  }

  @-moz-keyframes #{$animation-name} {
    @content
  }

  @-ms-keyframes #{$animation-name} {
    @content
  }

  @-o-keyframes #{$animation-name} {
    @content
  }

  @keyframes #{$animation-name} {
    @content
  }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin user-select($option) {
  @if $option == none {
    cursor: default;
  }
  -webkit-touch-callout: $option;
  -webkit-user-select: $option;
  -khtml-user-select: $option;
  -moz-user-select: $option;
  -ms-user-select: $option;
  user-select: $option;
}

@mixin white-space() {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}
