.bold {
  font-weight: bold;
}

.bottom-spacer {
  margin-bottom: 20px;
}

.bullet-title {
  display: inline-block;
}

.center {
  text-align: center;
}

.flex-layout-row {
  @include display-flex;
  @include flex(1);
  flex-direction: row;
}

.hidden {
  display: none;
}

.no-bullets {
  list-style-type: none;
}

.right {
  text-align: right;
}

.spacer {
  margin-bottom: 15px;
}
