.bold {
  font-weight: bold;
}

.bottom-spacer {
  margin-bottom: 20px;
}

.bullet-title {
  display: inline-block;
}

.center {
  text-align: center;
}

// .flex-layout {
//   @include display-flex;
//   @include flex-direction(column);
// }
//
// .flex-layout-row {
//   @include display-flex;
//   @include flex(1);
//   flex-direction: row;
// }

.fixed-height {
  border-top: 2px solid $vivid-yellow;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.hidden {
  display: none;
}

.no-bullets {
  list-style-type: none;
}

.right {
  text-align: right;
}

.spacer {
  margin: 10px 0;
}

.top-spacer {
  margin-top: 15px;
}
