/* Imports */
@import 'colors';
@import 'variables';

@import 'functions';
@import 'mixins';

@import 'about-me';
@import 'animations';
@import 'backgrounds';
@import 'buttons';
@import 'carousel-modifier';
@import 'contact-me';
@import 'education';
@import 'element-base-styles';
@import 'flex-classes';
@import 'fotorama-modifier';
@import 'froala-modifier';
@import 'images';
@import 'inputs';
@import 'layout';
@import 'loading';
@import 'nav-bar';
@import 'projects';
@import 'semantic-ui-modifier';
@import 'skills';
@import 'substates';
@import 'title-card';
@import 'utility';
@import 'work-experience';

section {
  &.container {
    @include border-radius(4px);
    @include box-shadow($shadow);
    @include display-flex;
    @include flex-direction(column);

    background-color: $off-white;
    border: 15px solid $off-white;
    margin-bottom: 50px;
    padding: 15px;
    position: relative;

    & > .fixed-height {
      background-clip: padding-box;
      background-color: $off-white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
