<h2 class="bold header right">Contact Me</h2>
<div class="body">
  <h3 class="bold center">If you like what you see on my website, let me know!</h3>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <a href="mailto:{{model.email}}" class="btn-contact btn-email">Send Me an Email!</a>
    </li>
    <li>
      <a class="btn-contact btn-linkedin">See My Profile!</a>
    </li>
    <li>
      <a class="btn-contact">View My Formal Resume!</a>
    </li>
  </ul>
</div>
