<article class="ui card">
  <div class="content">
    <h2 class="header">Contact Me</h2>
    <div class="meta">
      <span class="date">
        If you like what you see on my website, let me know!
      </span>
    </div>
    <nav class="ui list">
      {{#if model.email}}
        <a href="mailto:{{model.email}}" class="btn btn-contact item">
          <i class="mail outline icon"></i>
          <div class="content">Send Me an Email!</div>
        </a>
      {{/if}}
      {{#if model.linkedin}}
        <a href={{model.linkedin}} target="_blank" class="btn btn-contact item">
          <i class="linkedin icon"></i>
          <div class="content">See My Profile!</div>
        </a>
      {{/if}}
      {{#if model.resumeUrl}}
        {{#link-to "main.about-me.resume-viewer" model class="btn btn-contact item" tagName="button"}}
          <i class="file outline icon"></i>
          <div class="content">View My Formal Resume!</div>
        {{/link-to}}
      {{/if}}
    </nav>
  </div>
</article>
