<nav class="ui pointing menu">
  {{#link-to "main.about-me" class="item"}}
    About Me
  {{/link-to}}
  {{#link-to "main.education" class="item"}}
    Education
  {{/link-to}}
  {{#link-to "main.skills" class="item"}}
    Skills
  {{/link-to}}
  {{#link-to "main.work-experience" class="item"}}
    Work Experience
  {{/link-to}}
  {{#link-to "main.projects" class="item"}}
    Projects
  {{/link-to}}
  {{#if isDev}}
    {{#link-to "main.blog" class="item"}}
      Blog Posts
    {{/link-to}}
  {{/if}}
  <div class="right menu">
    {{#if isAuthenticated}}
      <a class="item" {{action "logout"}} href="">Log Out</a>
    {{else}}
      <a class="item" {{action "login"}} href="">Log In</a>
    {{/if}}
  </div>
</nav>
