<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active" data-toggle="pill">
    {{#link-to 'main.about-me'}}
      About Me
    {{/link-to}}
  </li>
  <li role="presentation" data-toggle="pill">
    {{#link-to 'main.education'}}
      Education
    {{/link-to}}
  </li>
  <li role="presentation" data-toggle="pill">
    {{#link-to 'main.skills'}}
      Skills
    {{/link-to}}
  </li>
  <li role="presentation" data-toggle="pill">
    {{#link-to 'main.work-experience'}}
      Work Experience
    {{/link-to}}
  </li>
  <li role="presentation" data-toggle="pill">
    {{#link-to 'main.projects'}}
      Projects
    {{/link-to}}
  </li>
</ul>
