<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<div class="collapse navbar-collapse" id="admin-navbar">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active" data-toggle="pill">
      {{#link-to "main.admin.profile-editor"}}
        Edit Profile
      {{/link-to}}
    </li>
    <li role="presentation" class="active" data-toggle="pill">
      {{#link-to "main.admin.education-editor"}}
        Edit Education
      {{/link-to}}
    </li>
    <li role="presentation" class="active" data-toggle="pill">
      {{#link-to "main.admin.skill-editor"}}
        Edit Skills
      {{/link-to}}
    </li>
    <li role="presentation" class="active" data-toggle="pill">
      {{#link-to "main.admin.work-editor"}}
        Edit Work Experience
      {{/link-to}}
    </li>
    <li role="presentation" class="active" data-toggle="pill">
      {{#link-to "main.admin.project-editor"}}
        Edit Projects
      {{/link-to}}
    </li>
    <li role="presentation" class="active" data-toggle="pill">
      {{#link-to "main.admin.blog-editor"}}
        Write a Blog Post
      {{/link-to}}
    </li>
  </ul>
</div>
