<main>
  <section class="content-section loading">
    <header>
      <h1>Loading</h1>
    </header>
    <footer>
      <div class="loader">
        <div></div>
      </div>
      <div class="loader">
        <div></div>
      </div>
    </footer>
  </section>
</main>
