<div class="item">
  {{#link-to "main.blog.post" model.id class="content"}}
    <div class="header">
      {{model.title}}
    </div>
    <div class="meta">
      <span class="date">{{moment-format model.createdAt "M/D/YY, h:mm a"}}</span>
    </div>
  {{/link-to}}
</div>
