<div class="skill-container">
  <h3 class="bottom-spacer header">These are the major technologies I've worked with by years of experience</h3>
  <div class="graph-container">
    <canvas id={{chart-id}}></canvas>
  </div>
</div>
