<section class="content-section title-card">
  <header class="name">
    <h1>justin drew</h1>
  </header>
  <footer class="title">
    <div>full stack developer</div>
  </footer>
  <button {{action "scrollTitle"}}>Continue</button>
</section>

{{yield}}
