<section {{action "alterTitle"}} class="title-background {{if fullTitle 'content-section title-card' 'container small-title'}}">
  <header class="name">
    <h1>{{model.fullName}}</h1>
  </header>
  <footer class="title">
    <div>software developer</div>
  </footer>
</section>

{{yield}}
