<div class="background-blog fixed-height">
  <div class="ui middle aligned animated divided list blog-posts">
    {{#each sortedBlogPosts as |post|}}
      {{blog-post-list-item
        model=post
      }}
    {{/each}}
  </div>

  {{#if isAuthenticated}}
    {{#modal-window
      button-caption="Save"
      hasActions=true
      id="blog-editor"
      title="Blog Post Editor"
      okAction="save"
    }}
      {{text-input
        label="Title"
        value=selected.title
      }}
      {{wysiwyg-editor
        content=selected.content
      }}
    {{/modal-window}}
  {{/if}}
</div>

{{outlet}}
