<div class="blog-background fixed-height">
  {{#if isAuthenticated}}
    <div class="bottom-spacer flex-row right">
      <button id="modal-toggle" type="button" class="btn" data-toggle="modal" data-target="#blog-editor">
        Edit
      </button>
    </div>
  {{/if}}

  {{#each model as |post|}}
    {{blog-post
      post=post
      select="select"
    }}
  {{/each}}

  {{#if isAuthenticated}}
    {{#modal-window
      close-on-action=true
      flex-modal=true
      footer-button-caption="Save"
      footer-button-type="submit"
      modal-id="blog-editor"
      modal-title="Blog Post Editor"
      show-footer=true
      cancelAction="cancel"
      formAction="save"
    }}
      {{text-input
        label="Title"
        value=selected.title
      }}
      {{wysiwyg-editor
        content=selected.content
      }}
    {{/modal-window}}
  {{/if}}
</div>
