<div class="main">
  {{#modal-window
    hasActions=true
    modal-classes="login-modal login"
    id="login-modal"
    showOnTransition=true
    title="Login"
    cancelAction="cancel"
    okAction="authenticate"
  }}
    {{text-input
      container-classes="bottom-spacer"
      label="Username"
      value=username
    }}
    {{text-input
      label="Password"
      type="password"
      value=password
    }}
    <div class="top-spacer">
      {{status-messages
        error=error
      }}
    </div>
  {{/modal-window}}
</div>
