<div class="main">
  {{#modal-window
    close-on-action=false
    fireworks=false
    flex-modal=true
    footer-button-label="Submit"
    footer-button-type="submit"
    modal-classes="login-modal login"
    modal-id="login-modal"
    modal-title="Login"
    show-footer=true
    show-on-transition=true
    static-backdrop=true
    cancelAction="cancel"
    formAction="authenticate"
  }}
    {{input
      class="form-control"
      type="text"
      label-class="float-left"
      name="username"
      value=username
      placeholder="Username"
    }}
    <br/>
    {{input
      class="form-control"
      type="password"
      placeholder="Password"
      label-class="float-left"
      name="password"
      value=password
    }}
    <div class="top-spacer">
      {{status-messages
        error=error
      }}
    </div>
  {{/modal-window}}
</div>
