<div class="row">
  <div class="col-md-4">
    <div class="bold title">
      {{model.schoolName}}
    </div>
    <div class="sub-title">
      {{moment-format model.started "MMMM YYYY"}} to {{moment-format model.graduated "MMMM YYYY"}}
    </div>
  </div>
  <div class="col-md-8">
    {{{model.description}}}
  </div>
</div>
