<article class="ui card">
  <div class="content">
    <h2 class="header">
      {{model.schoolName}}
    </h2>
    <div class="meta">
      <span class="date">
        {{moment-format model.started "MMMM YYYY"}} to {{moment-format model.graduated "MMMM YYYY"}}
      </span>
    </div>
    <div class="description">
      {{{model.description}}}
    </div>
  </div>
</article>
