<main>
  <section class="content-section error">
    <header>
      <h1>Oops!</h1>
    </header>
    <footer>
      We ran into an error. Please hit the back button and try again.
    </footer>
  </section>
</main>
