{{#title-card
  fullTitle=fullTitle
  model=model
  alterTitle="alterTitle"
}}
{{#if fullTitle}}
{{else}}
  <div class="container" style={{style}}>
    {{nav-bar}}
    {{outlet}}
  </div>
{{/if}}
{{/title-card}}
