{{#title-card
  fullTitle=fullTitle
  model=model
  alterTitle="alterTitle"
}}
{{#if fullTitle}}
{{else}}
  <div class="container">
    {{nav-bar}}
    <div class="spacer"></div>
    {{outlet}}
  </div>
{{/if}}
{{/title-card}}
