<main>
  {{#title-card
    fullTitle=fullTitle
    model=model
    alterTitle="alterTitle"
  }}
    {{#if fullTitle}}
    {{else}}
      <section class="container" style={{make-safe style}}>
        {{nav-bar}}
        {{outlet}}
      </section>
    {{/if}}
  {{/title-card}}
</main>
