<div class="input-container">
  {{input
    type="text"
    class="form-control"
    value=model.title
    id="blog-title"
    placeholder="Enter a Title"
  }}
</div>
{{froala-editor
  params=froalaEditor.params
  update=(action (mut model.content))
}}
<div class="center spacer">
  <button {{action "save"}} type="button" class="btn btn-success">Save</button>
</div>
