<div class="input-container">
  {{input
    type="text"
    class="form-control"
    value=model.title
    id="blog-title"
    placeholder="Enter a Title"
  }}
</div>
{{wysiwyg-editor
  content=model.content
}}
<div class="center spacer">
  <button {{action "save"}} type="button" class="btn btn-success">Save</button>
</div>
