<table class="base-table table">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Years</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{input
          placeholder="Skill Name"
          value=name
        }}
      </td>
      <td>
        {{input
          placeholder="Years"
          value=years
        }}
      </td>
      <td>
        <button class="btn btn-primary">
          Save
        </button>
      </td>
    </tr>
    {{#each model.skills as |skill|}}
      <tr>
        <td>{{skill.name}}</td>
        <td>{{skill.years}}</td>
        <td>
          <div class="glyphicon glyphicon-remove"></div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
