<div class="ui calendar" id={{id}}>
  <div class="ui icon input">
  {{!-- <div class="ui fluid icon labeled input"> --}}
    {{!-- <label class="ui label">{{label}}</label> --}}
    <i class="calendar icon"></i>
    {{input
      placeholder="Date/Time"
      type="text"
      value=value
    }}
  </div>
</div>
